@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
* {
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
   font-family: poppins,sans-serif;
}
body{
    background: rgba(0,  0, 0, 0.7) url('https://cdn.magicdecor.in/com/2023/09/29160424/3D-Wallpaper-for-Restaurant-Wall-Mix-710x488.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h1{
    color: crimson;
    margin-left: 15px;
    cursor: pointer;
}
.navbar ul li{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    outline: none;
    color: #fff;
    padding: 4px;
    transition: 3.2s ease-in;
}
.navbar ul li a:hover{
    background-color: crimson;
    color: black;
    box-shadow: 0 3px 50px crimson inset 0 3px 50px crimson inset 0 3px 50px crimson inset 0 3px 50px crimson inset 0 3px 50px crimson inset; ;
}
.navbar .reservation{
    padding: 8px;
    background-color: crimson;
}
.content{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 30%;
} 
.content h3{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 25%;

} 
.content h1{
    font-size: 40px;
} 
.content p{
    text-align: center;
    margin-top: 20px;
}
.search{
    position: absolute;
    margin-top: 27%;
    margin-left: 40%;
}
.search input{
    outline: none;
    border: none;
    padding: 12px 40px;
    size: 1em;
    width: 120%;
}
.search button{
    position: absolute;
    margin-top: 32%;
    margin-left: 40%;
}
.order{
    position: absolute;
    margin-top: 32%;
    margin-left: 45%;
}
.order a{
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background-color: crimson;
}

