/*color property*/
   color: normal color
   rgb: (red green blue)
   rgba: (red green blue alpha) (hexavalue)
   hsl: (hue saturation lightness) hue: a pure color ,tint:a pure color with just white added, shade:a pure color with just black added, tone: color with just grey added
   red  #ff0000
   blue #0000ff
   white #ffffff 
   black #000000
   grey #aaa
   /*background property*/
   /*windows + dot emoji ke liye*/
   background color
   background image
   background repeat
   background position
   background size.
   background attachment😄
   background blend mode
   /*unit property*/
   pixel percentage em rem
   100% = 16px
   1px = 6.25
   for 1 em = 16px.
   1 rem =10px
   10px = 62.5
   /*font property*/
   font family:
   font size:
   font weight: (100 to 900)
   font style: italic;
   font variant: only one (small case);
   /*custom fonts in css*/
   @font face: font family: and scr: url();
   /*text property*/
   text alignment:
   text decoration: color, thickness, style
   text transform: uppercase
   text spacing: letter, word, line height, white space;
   text shadow: syntax(horizontal, vertical, blur radius, color);
   : (pseudo class) :: first letter (pesudo element);
   /*box model*/
   margin:
   border: syntax(2px solid color);
   padding:
   width:
   height:
   /*gradient property*/
   linear gradient:
   radial gradient:
   /*box shodow*/
   box-shadow: 
   drop-shadow:
   /*filters in css*/
   grayscale()
   blur()
   brightness()
   opactiy()
   contrast()
   invert()
   /*list property*/
   list-style-type:
   list-style-image:
   list-style-position:
   list-style-property:
   /*anchor states*/
   link('a:link'):
   hover('a:hover'):
   visited('a:visited'):
   active('a:active'):
   /*combinators*/
   descendant selector(space)
   adjacent sibling selector(+)
   child selector(>)
   general sibling selector(~)
   universal selector(*)
   /*displays */
   block-level elements
   inline-block elements
   inline elements
   /*positions*/
   relative
   static
   sticky
   absolute
   fixed
   /*overflow*/
   overflow:visible(default)
   overflow:hidden
   overflow:scroll
   overflow:auto
   /*pseudo elements*/
   ::before
   ::first-letter
   ::selection
   ::after
   ::first-line
   ::placeholder
   /*pseudo class*/
   :hover
   :last-child
   :first-of-type
   :first-child
   :nth-child(n)
   :last-of-type


</body>
</html>